
body {
    background-image: url('../images/background.jpg');
    
    font-family: 'Anton', sans-serif;
    color: black;
    letter-spacing: 2px;
    
    
}
.container{
    opacity: 3;
}

h1 {
    font-size: 40px;
    color: black;
    text-align: center;
}
h3{
    text-align: center;
    padding-top: 30px;
}

#welcomeScreen {
    background-image: url('../images/colorful.jpg');
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    
    margin: 0 auto;
    border-radius: 5px;
}

.black-background {
    background-color: #000000;
}

.white {
    color: #ffffff;
}

.Box1 {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
    margin-top: 40%;
    
}

.Box2 {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

label {
    color: rgb(126, 109, 165);
    outline-color: rgb(21, 41, 9)
}

#answerScreen {
    display: none;
    background-image: url('../images/colorful.jpg');
    background-repeat: no-repeat;
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
}

#timesUp {
    display: none;
    background-image: url('../images/timesup.jpg');
    background-repeat: no-repeat;
    width: 35%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
    color: azure
}

.up {
    color:rgb(237, 237, 237);
}

.timeRemain {
    padding: 2%;
    color: rgb(218, 21, 21);
    
}

.timeRemain #time-remain {
    font-size: 60px;
}

body .container {
    background-color: rgb(0, 0, 0);
    height: 100%;
    text-align: center;
    display: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.questions {
    font-size: 25px;
    
}

.ques,
label {
    padding: 1%;
    
}

header {
    font-size: 60px;
    color: rgb(97, 0, 252);
    margin-top: 2%;
}
.ques-title{
    color: #d8d9dc
}

p{
    text-align: center;
}
#start-btn{
   
   text-align: center;
   width: 100%;
   


    
   
}